<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab [root]="listTransactionsRoot" tabTitle="List transactions" tabIcon="list" tab="listTransaction"></ion-tab>
    <ion-tab [root]="commissionsRoot" tabTitle="Commissions" tabIcon="cash"></ion-tab>
</ion-tabs> -->

<ion-tabs>yy
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="listTransaction">
        <ion-icon name="list"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="commissions">
          <ion-icon name="cash"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>