<ion-header>
   <ion-toolbar>
      <ion-title>Authentification</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     <div class="login">
     <!--   <ion-item>
         <ion-button ion-only color="light" expand="round" class="login" size="large">
            <ion-icon name="people"></ion-icon></ion-button>
       </ion-item> -->
       <form (submit)="login($event)">
        <ion-item>
            <ion-icon name="people" size="large" color="tertiary"></ion-icon>
            <ion-input type="text" class="form-control" placeholder="username" name="username" required="required"  [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
                  <ion-icon name="lock" size="large" color="tertiary"></ion-icon>
                   <ion-input type="password" class="form-control" placeholder="password" name="password" required="required"   [(ngModel)]="password"></ion-input>        
          </ion-item>
          <div class="form-group">
               <div *ngIf="errorMessage" class="error">{{errorMessage.message}}</div>
               </div>
                   <ion-button type="submit" value="Login" expand="block" color="tertiary">Se Connecter</ion-button>
        </form>
     </div>
  </ion-content>
  