<ion-menu [content]="myContent">
    <ion-header>
      <ion-navbar>
        <ion-title>menu</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list *ngFor="let p of pages">
        <ion-item-divider color="primary" *ngIf="p.title=='Transaction'">
          {{p.title}}
        </ion-item-divider>
        <ion-item-divider color="primary" *ngIf="p.title=='Mon compte'">
            {{p.title}}
          </ion-item-divider>
        <ion-item (click)="onActionMenu(p)">
            <ion-icon item-left [name]="p.icon"></ion-icon>
            <ion-label>{{p.label}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-menu>
<ion-nav id="nav" #myContent [root]="rootPage"></ion-nav>

<!-- <ion-menu [content]="myContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngFor="let p of pages">
      <ion-menu-toggle *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
          </ion-item>
      </ion-menu-toggle>
      <ion-item button *ngIf="p.children?.length>0" (click)="p.open=!p.open"
        [class.active-parent]="p.open" detail="false">
        <ion-icon slot="start" name="arrow-forword" *ngIf="!p.open"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #myContent [root]="rootPage"></ion-nav> -->
<!-- <ion-router-outlet id="content" main></ion-router-outlet> -->