<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="second">
          <ion-back-button></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
 -->
<!-- <ion-tabs>
    <ion-tab [tab]="listTransactionsRoot" tabTitle="List transactions" tabIcon="list" tab="listTransaction"></ion-tab>
    <ion-tab [tab]="commissionsRoot" tabTitle="Commissions" tabIcon="cash"></ion-tab>
</ion-tabs>  -->

<ion-tabs>
    <ion-tab-bar slot="top"  color="primary">
      <ion-tab-button tab="liste1">
        <ion-icon name="list"></ion-icon>
        <ion-label>List transactions</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="commissions">
          <ion-icon name="cash"></ion-icon>
          <ion-label>Détails Commissions</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>