<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>commissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>
              Total commissions
            </ion-label>
          </ion-item><ion-item>
              <ion-label>
                  {{commissions}}
              </ion-label>
            </ion-item>
        </ion-card-content>
      </ion-card>
</ion-content>

<ion-footer>
    <app-tabs></app-tabs>
</ion-footer>