.home{
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/4958641.jpg);
    background-repeat:no-repeat;
    background-position:center;
}
.login{
    margin-top: 98%;
}
.footer{
    margin-top: 10%;
    vertical-align: middle;
    text-align: center;
    color:#7044ff;
}

.myIcon{
    margin: 0 auto;
}
