<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>listTransaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="filtre()">
      <ion-item>
          <ion-label ion-button>Date Début</ion-label>
        <ion-input type="date" [(ngModel)]="dateDebut" name="dateDebut"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label ion-button>Date Fin</ion-label>
        <ion-input type="date" [(ngModel)]="dateFin" name="dateFin"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Filtrer</button>
</form>
  <ion-list *ngFor="let t of listTransactions">
    <ion-card>
      <ion-card-content>
        <ion-item>
            <ion-label>Date</ion-label>
          </ion-item>
        <ion-item>
          <ion-label>{{t.date_transaction}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Montant</ion-label>
          </ion-item>
        <ion-item>
          <ion-label>{{t.montant}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Type</ion-label>
          </ion-item>
        <ion-item>
          <ion-label>{{t.type}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
